main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: cursive, lucida handwriting;
}

body {
    background-image: url('/assets/clouds6.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    align-items: center;
}

h2 {
    font-family: cursive, lucida handwriting;
    font-size: 50px;
}

label, input {
    font-family: cursive, lucida handwriting;
    font-size: 20px;
    border-radius: 50px;
}

#logout, #auth {
    font-family: cursive, lucida handwriting;
    background-color: rgb(180, 148, 243);
    font-size: 18px;
    border-radius: 50px;
}

#hide {
    display: none;
}

a {
    color: rgb(139, 18, 252);
}