@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&display=swap');


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Koulen', cursive;
}

body {
    background-image: url('/assets/clouds6.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1300px;
    align-items: center;
}

h2 {
    font-family: 'Koulen', cursive;
    font-size: 40px;
}

label, input {
    font-family: 'Koulen', cursive;
    font-size: 20px;
    border-radius: 50px;
}

#logout, #auth {
    font-family: 'Koulen', cursive;;
    background-color:rgb(129, 61, 255);;
    font-size: 22px;
    border-radius: 50px;
    margin: 10px;
}

.hide {
    display: none;
}

a {
    color: rgb(129, 61, 255);
    font-family: 'Koulen', cursive;
    font-size: 30px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    background-color: rgb(172, 138, 238);
    margin: 13px;
    width: 20vw;
    height: 20vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    text-align: center;
}

.post:nth-child(2n) {
    background-color: rgb(90, 84, 197);
}

@media (max-width: 750px) {
    h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.75rem;
    }

    .post {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width: 450px) {
    .post {
        width: 75vw;
        height: 75vw;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}

#createnew {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Koulen', cursive;
    font-size: 50px;
    color: rgb(129, 61, 255);
}

h3, h4, p {
    font-family: 'Koulen', cursive;
    font-size: 24px;
}