main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url('/assets/clouds6.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

h1 {
    font-family: cursive, lucida handwriting;
    font-size: 50px;
}

label, input {
    font-family: cursive, lucida handwriting;
    font-size: 20px;
    border-radius: 50px;
}

button {
    background-color: rgb(180, 148, 243);
    font-size: 18px;
    border-radius: 50px;
}